<!DOCTYPE html>
<html lang="en">
  <%= erb 'head.html'.to_sym %>
<body>
  <div id='particles-js'>
    <div id='box'>
      <p>Write down your URL and press enter to shorten it</p>
      <form action='/' method='post'>
        <input type='text' name='s'>
      </form>
    </div>
  </div>
  <script type="text/javascript" src="/js/particles.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
