<!DOCTYPE html>
<html lang="en">
  <%= erb 'head.html'.to_sym %>
<body>
  <div id='particles-js'>
    <div id='box'>
      <p>Write down your URL and press enter to shorten it</p>
      <form action='/' method='post'>
        <input type='text' name='s' placeholder='yeah here'>
      </form>
    </div>
    <div id='ranking-link'>
      <a href="#ranking">Ranking<br>▾</a>
    </div>
  </div>

  <%= erb 'ranking.html'.to_sym %>

  <script type="text/javascript" src="/js/particles.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
