<!DOCTYPE html>
<html lang="en">
  <%= erb 'head.html'.to_sym %>
  <body>
    <div id='particles-js'>
      <div id='box'>
        <p>Here it is your super short url:</p>
        <a href="<%= @short_url %>"><%= @short_url %></a>
      </div>
      <div id='ranking-link'>
        <a href="#ranking">Ranking<br>▾</a>
      </div>
    </div>

    <%= erb 'ranking.html'.to_sym %>

  <script type="text/javascript" src="/js/particles.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>
